<template lang="pug">
layout
  v-container(grid-list-xl)
    v-layout(row wrap)
      v-flex(xs12)
        v-card
          v-img(src='https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png' aspect-ratio="2.75")
          v-card-title(primary-title)
            div
              h3.headline.mb-0 Node in action
              div some sample text
          v-card-actions
            v-btn(flat color='orange') Read More
      v-flex(xs12 md4)
        v-card
          v-img(src='https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png' aspect-ratio="2.75")
          v-card-title(primary-title)
            div
              h3.headline.mb-0 Node in action
              div some sample text
          v-card-actions
            v-btn(flat color='orange') Read More
      v-flex(xs12 md4)
        v-card
          v-img(src='https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png' aspect-ratio="2.75")
          v-card-title(primary-title)
            div
              h3.headline.mb-0 Node in action
              div some sample text
          v-card-actions
            v-btn(flat color='orange') Read More
      v-flex(xs12 md4)
        v-card
          v-img(src='https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png' aspect-ratio="2.75")
          v-card-title(primary-title)
            div
              h3.headline.mb-0 Node in action
              div some sample text
          v-card-actions
            v-btn(flat color='orange') Read More
</template>

<script>
  import layout from '~/layouts/Default.vue'
  export default {
  	components: {
  	 layout
  	}
  }
</script>

<style lang="sass" scoped>
.img-full
  width: 100%;
</style>
