<template lang="pug">
v-app
  v-container.main-container
    v-layout(row wrap)
      v-flex(xs12 md12)
        slot
</template>


<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>

<style lang="sass" scoped>
.main-container
  max-width: 900px
</style>